@*@model IEnumerable < CibusMVC.Models.Algo>*@

@using CibusMVC.ViewModels;
@model CibusMVC.ViewModels.DetallePedidoViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>Detalles del pedido</h2>
@Html.AntiForgeryToken()

<section id="blog" class="padding-side-50">
    <div class="e-divider-8"></div>
    <div class="e-divider-4"></div>
    
    
    
    <div class="grid container-fluid e-text-center">
        <div id="posts" class="row popup-container">

            <table class="table">
                <tr>
                    <td>Pedido</td>
                    <td>Mesa</td>
                    <td>Fecha</td>
                    @*<td>Total</td>*@
                    <th> Combo</th>
                    <th>Cantidad </th>
                    <th>Precio Unitario</th>
                    <th>Precio Total</th>

                </tr>

            @foreach (var algo in Model.AlgoAll)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => algo.IdPedido)</td>
                        <td>@Html.DisplayFor(modelItem => algo.IdCliente)</td>
                    <td>@Html.DisplayFor(modelItem => algo.Fecha)</td>
                            <td>
                               @Html.DisplayFor(modelItem => algo.ComboResNombre)
                            </td>

                            <td>@Html.DisplayFor(modelItem => algo.Cantidad)  </td>

                            <td>
                                @Html.DisplayFor(modelItem => algo.PrecioUnitario)
                            </td>
                            <td>@(algo.Cantidad * algo.PrecioUnitario)</td>


                    </tr>

                 


            }
              
            </table>
            @*<h3> <button>Confirmar</button></h3>*@
                @*}*@
        </div>
    </div>

</section>

