@*@model IEnumerable < CibusMVC.Models.Algo>*@

@using CibusMVC.ViewModels;
@model CibusMVC.ViewModels.DetallePedidoViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>Detalles del pedido</h2>
@Html.AntiForgeryToken()

<section id="blog" class="padding-side-50">
    <div class="e-divider-8"></div>
    <div class="e-divider-4"></div>
    
    
    
    <div class="grid container-fluid e-text-center">
        <div id="posts" class="row popup-container">
            @foreach (var pedido in Model.PedidosAll)
            {

            <table class="table">
                <tr>
                    <td>Cliente</td>
                    <td>Fecha</td>
                    <td>Total</td>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(modelItem => pedido.IdCliente)</td>
                    <td>@Html.DisplayFor(modelItem => pedido.Fecha)</td>
                    <td>@Html.DisplayFor(modelItem => pedido.Total)</td>
                </tr>
            </table>
                foreach (var algo in Model.AlgoAll)
                {

                   if (algo.IdPedido == pedido.IdPedido)
                   {
            <table class="table">
                <tr>
                    <th>Restaurante</th>
                    <th> Combo</th>
                    <th>Cantidad </th>
               
                    <th>Precio Unitario</th>
                    <th>Precio Total</th>

                </tr>



                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => algo.ResName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => algo.ComboResNombre)
                        </td>
                        <td>@Html.DisplayFor(modelItem => algo.Cantidad)</td>
                     
                        <td>
                            @Html.DisplayFor(modelItem => algo.PrecioUnitario)
                        </td>
                        <td>@(algo.Cantidad * algo.PrecioUnitario)</td>
                     
                    </tr>
                
                    
                

            </table>
            @*<h3> <button>Confirmar</button></h3>*@
                   }
                }
            }
        </div>
    </div>

</section>

