@model CibusMVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<div style="margin:3em; margin-top:8em">

    <h2>Registrar de usuario</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <hr style="border-color: Highlight;border-width:0.5em; " />

        @Html.AntiForgeryToken()
        <h4>Crear una nueva cuenta.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <strong class="fcol-md-3">Correo:</strong>
        <div class="form-group">
          
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <strong>Contraseña: </strong>  @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@

        <div class="form-group">
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <strong>Confirmación de Contraseña: </strong>  @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@

        <div class="form-group">
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <strong>Id Restaurante</strong> @*@Html.LabelFor(m => m.IdRestaurante, new { @class = "col-md-2 control-label" })*@

        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.IdRestaurante, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    </div>