@model CibusMVC.Models.ComboRestaurante

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<div style="margin:3em; margin-top:6EM">

    <h2>Detalles del Combo:</h2>

    <div>
        
        <hr style="border-color: Highlight;border-width:0.5em; " />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Precio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Precio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Imagen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Imagen)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Restaurante.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Restaurante.Nombre)
            </dd>

        </dl>
    </div>
    <hr style="border-color: Highlight;border-width:0.4em; " />

    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.IdComboRestaurante }) |
        @Html.ActionLink("<<-- Volver atrás.", "Index")
    </p>
    </div>

    
