@using Microsoft.AspNet.Identity
@using CibusMVC.Models

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="e-divider-4"></li>
        <li class="sidebar-brand">
            <a href="#"><img src="~/assets/custom/images/logo01.png" width="180" alt="logo"></a>
        </li>
        @if (Request.IsAuthenticated)
        {
           

        <li><a href='@Url.Action("Index", "AdministradorRestaurante")' class="current"><span class="glyphicon glyphicon-glass" aria-hidden="true" style="font-size: 18px"></span>- Restaurantes</a></li>
        <li><a href='@Url.Action("Register", "Account")' class="current"><span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 18px"></span>- Crear usuario</a></li>
        

        <li><a href='@Url.Action("Index", "AdministradorComboRestaurantes")' class="current"><span class="glyphicon glyphicon-th-list" aria-hidden="true" style="font-size: 18px"></span>- Combos</a></li>
        <li><a href='@Url.Action("Index", "Pedido")' class="current"><span class="glyphicon glyphicon-th-list" aria-hidden="true"  style="font-size: 18px"></span>- ordenes</a></li>
             }

    @*<li><a href='@Url.Action("Index","AdministradorUsuario")' class="current"><span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 18px"></span>- Usuarios</a></li>*@

        

        @*@Html.ActionLink("Hello " + User.Identity.IsAdmin() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@



        
        @*<li><a href="#">Sobre Nosotros</a></li>*@



    </ul>

    <div class="e-divider-4"><hr></div>

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
      <div style="margin-left:5em">
            <div>
                <img style="width:130px; height:130px; margin-left:0.97em" src="~/assets/custom/images/default-user.png" />

            </div>
            <div style="margin-top:1.5em">
                
         @*@if (User.Identity.IsAdmin)
         {
                <p>
            @Html.ActionLink("Registrar un nuevo Usuario", "Register")
        </p>

         }*@
            </div>
            

        </div>
        <h5>@Html.ActionLink("Editar cuenta: " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "current", @style = "color:white; margin-left:2em" })</h5>

        <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
        }
    }
        <!--
            <div id="filters" class="port-filter text-right grid-item">
        </div>


            <div class="text-right grid-item">
            <a href="@Url.Action("Index", "ShoppingCart")">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="font-size: 42px"></span>
            </a>
        </div>-->
        <br />

    </div>

