@using Microsoft.AspNet.Identity
@using CibusMVC.Models

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="e-divider-4"></li>
        <li class="sidebar-brand">
            <a href="#"><img src="~/assets/custom/images/logo01.png" width="180" alt="logo"></a>
        </li>
        
        <li><a href='@Url.Action("Index","AdministradorRestaurante")' class="current"><span class="glyphicon glyphicon-glass" aria-hidden="true" style="font-size: 18px"></span>- Restaurantes</a></li>
        <li><a href='@Url.Action("Index","AdministradorComboRestaurantes")' class="current"><span class="glyphicon glyphicon-th-list" aria-hidden="true" style="font-size: 18px"></span>- Combos</a></li>
        <li><a href='@Url.Action("Index","AdministradorUsuario")' class="current"><span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 18px"></span>- Usuarios</a></li>

        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })


        @Html.ActionLink("Hello " + User.Identity.IsAdmin() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })



        
        @*<li><a href="#">Sobre Nosotros</a></li>*@



    </ul>

    <div class="e-divider-4"><hr></div>

    
        <div style="margin-left:5em">
            <div>
                <img style="width:130px; height:130px; margin-left:0.97em" src="~/assets/custom/images/default-user.png" />

            </div>
            <div style="margin-top:1.5em">
                <h5 class="current" style="color:white; margin-left:2em" >NombreUsuario</h5>

            </div>
            

        </div>
        
        <!--
            <div id="filters" class="port-filter text-right grid-item">
        </div>


            <div class="text-right grid-item">
            <a href="@Url.Action("Index", "ShoppingCart")">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="font-size: 42px"></span>
            </a>
        </div>-->
        <br />

    </div>

