@model CibusMVC.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<div style="margin:3em; margin-top:8em">

    <h2>Cambiar Contraseña</h2>
    <hr style="border-color: Highlight;border-width:0.5em; " />


    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
    @Html.AntiForgeryToken()
    <h4>Formulario de Cambio de contraseña.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <strong>Contraseña Actual:</strong>
    <div class="form-group">
        @*@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <strong>Nueva Contraseña:</strong>
    <div class="form-group">
        @*@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <strong>Confirmar Contraseña:</strong>
    <div class="form-group">
        @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <input type="submit" value="Cambiar" class="btn btn-primary" />
        </div>
    </div>
    }
    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }
    </div>